
.App {
  display: flex;
}

.left-panel {
  flex: 1;
  padding: 20px;
}

.right-panel {
  flex: 2;
  padding: 20px;
  border-left: 1px solid #ccc;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  cursor: pointer;
  margin-bottom: 10px;
  white-space: nowrap; /* Prevents wrapping */
  overflow: hidden; /* Hides any content that overflows the container */
  text-overflow: ellipsis; 
}

li:hover {
  color: blue;
  text-decoration: underline;
}
